:root{
    --primary-white-color: #ffffff;
    --primary-text-color: #212121;
    --grey-text-color: #757575;
    --active-blue-color: #2196F3;
}
/* Links */
a{
    text-decoration: none;
}

/* Lists */
li{
    list-style: none;
}


body {
    background-color: var(--primary-white-color);
    color: var(--grey-text-color);
    font-family: 'roboto', sans-serif;
}

/* Logo */
.logo{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 26px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--active-blue-color);
}

.logo-span{
    color: var(--primary-text-color);
}

/* Navigation */
.nav .contactus-list{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.02em;
}

.nav-item-link{
    color: var(--primary-text-color);
}
.nav-item-link:hover{
    color: var(--active-blue-color);
}
.nav-item-link:focus{
    color: var(--active-blue-color);
}

.contactus-item-link{
    color: var(--grey-text-color);
}
.contactus-item-link:hover{
    color: var(--active-blue-color);
}
.contactus-item-link:focus{
    color: var(--active-blue-color);
}

/* Hero */
.hero>.hero-title{
font-style: normal;
font-weight: 900;
font-size: 44px;
line-height: 1.36;
text-align: center;
letter-spacing: 0.06em;
text-transform: uppercase;
color: var(--primary-white-color);
background-color: var(--grey-text-color);
}

.hero-title-btn{
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 1.88x;
display: flex;
align-items: center;
text-align: center;
letter-spacing: 0.06em;
color: var(--primary-white-color);
background-color: var(--active-blue-color);
}

/* Excellence */
.excellence>.ex-list{
font-style: normal;
font-weight: 700;
font-size: 14px;
line-height: 1.14;
letter-spacing: 0.03em;
text-transform: uppercase;
}

.ex-title{
color: var(--primary-text-color);
}

.ex-text{
color:var(--grey-text-color);
}

/* Jobs & Team*/
.jobs-title, .team-title{
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 1.17;
letter-spacing: 0.03em;
color:var(--primary-text-color)
}

.team-list{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.19;
letter-spacing: 0.03em;
color: var(--primary-text-color);
}

.team-item-title{
color: var(--primary-text-color);
}

.team-item-text{
color: var(--grey-text-color);
}

/* Footer */

.footer-adress, .footer-mail, .footer-tel{
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 1.71;
letter-spacing: 0.03em;
color: var(--primary-white-color);
background-color: var(--grey-text-color);
}



/* Page: Portfolio */

/* Filter */
.portfolio-filter-button{
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 1.62;
letter-spacing: 0.03em;
background-color: #F5F4FA;
color: var(--primary-text-color);
}

.portfolio-filter-button:hover, .portfolio-filter-button:focus{
background-color: var(--active-blue-color);
color: var(--primary-white-color);
}

.portfolio-filter-button:focus{}

/* Portfolio */
.portfolio-title{
font-family: 'Roboto';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 2;
letter-spacing: 0.06em;
color: var(--primary-text-color);
}

.portfolio-text{
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 1.88;
letter-spacing: 0.03em;
color: var(--grey-text-color);
}